<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Booking</title>
        <link rel="stylesheet" type="text/css" href="css/booking.css">
        <!--- Font from google fonts --->
        <link href="https://fonts.googleapis.com/css?family=Assistant:600&display=swap" rel="stylesheet">
        <!--- Font Awesome is used for the email and password icons --->
        <script src="https://kit.fontawesome.com/d65ff00190.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

      <div id="sideMenu">
        <img src="img/dashboardTitle.png">
        <ul>
          <a href="/PatientDashboard" class="link"><i class="fa fa-home"
          ></i> Home</a>
          <a href="/booking" class="link"><i class="fa fa-calendar-check"
          ></i> Book An Appointment</a>
          <a href="#" class="link"><i class="fa fa-clock"
          ></i> Schedule</a>
          <a href="#" class="link"><i class="fa fa-user-nurse"
          ></i> Doctors</a>
          <a href="#" class="link"><i class="fa fa-first-aid"
          ></i> Urgent Cases</a>
          <a href="#" class="link"><i class="fa fa-question-circle"
          ></i> FAQ</a>
          <a style="position: fixed; bottom: 0; left: 0.52rem" href="#" class="link"><i class="fa fa-sign-out-alt"
          ></i> Logout</a>
        </ul>
      </div>

      <div id="booking-area">
        <div class="heading">
    			<h1>Online Booking</h1>
    			 <p>Please select a date</p>
    		</div>
        <div class="booking-input">
        <input type="date" name="date" id="date">

        <button id="booking-btn">Submit</button>

        <p>Please select a Doctor to see availability</p>

      </div>
      </div>

      <div id="table-area">
             <div id="doctorTable" class="table">
               <table>

                 <tbody>
                     <tr>
                     </tr>
                 </tbody>
               </table>
             </div>

             <div id="doctorAv" class="av-table">
               <table>
                 <tbody>
                     <tr>
            
                   </tr>
                </tbody>
               </table>
               <button id="back-btn">Back</button>
             </div>
      </div>


    </body>

    <script type="text/javascript" src="js/Booking.js"></script>
</html>
