<!DOCTYPE html>
<html>

<head>
	<title>eHealthcare</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <!--- Font from google fonts --->
	<link href="https://fonts.googleapis.com/css?family=Assistant:600&display=swap" rel="stylesheet">
  <!--- Font Awesome is used for the email and password icons --->
  <script src="https://kit.fontawesome.com/d65ff00190.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>You are logged in</h1>
    <h3><%= username %> </h3>
    <h3><%= fName %> </h3>
    <h3><%= sName %> </h3>
</body>

</html>
