<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h1>Registration</h1>

    <form action="/registration" method="post">
        <div>
            <label>Username:</label>
            <input name="username">
        </div>

        <div>
            <label>Password:</labeL>
            <input name="password">
        </div>

        <div>
            <label>First name:</label>
            <input name="fName">
        </div>

        <div>
            <label>Last name:</label>
            <input name="sName">
        </div>

        <div>
            <label>Medicare number:</label>
            <input name="medicareNo">
        </div>

        <div>
            <label>Medicare IRN:</label>
            <input name="medicareIRN">
        </div>

        <div>
            <label>Medicare Expiry:</label>
            <input name="medicareExpiry" type="date">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>