<!DOCTYPE html>
<html>

<head>
	<title>eHealthcare</title>
	<link rel="stylesheet" type="text/css" href="css/viewAppointments.css">
  <!--- Font from google fonts --->
	<link href="https://fonts.googleapis.com/css?family=Assistant:600&display=swap" rel="stylesheet">
  <!--- Font Awesome is used for the email and password icons --->
  <script src="https://kit.fontawesome.com/d65ff00190.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div id="sideMenu">
		<img src="img/dashboardTitle.png">
		<ul>
			<a href="/DoctorDashboard" class="link"><i class="fa fa-home"
			></i> Home</a>
			<a href="/ViewAppointments" class="link"><i class="fa fa-calendar-check"
			></i> Appointments</a>
			<a href="#" class="link"><i class="fa fa-comment-alt"
			></i> Chat</a>
			<a href="#" class="link"><i class="fa fa-first-aid"
			></i> Urgent Cases</a>
			<a style="position: fixed; bottom: 0; left: 0.52rem" href="#" class="link"><i class="fa fa-sign-out-alt"
			></i> Logout</a>
		</ul>

	</div>

	<div id="dashboardArea">
		<div class="heading">
			<h1>My Appointments</h1>

		<!---	<% for (var doctor of doctors) { %>
			<div>
					<p><%= doctor.fName%></p>
			</div>
			<% } %> --->

		<div class="appointment-input">
		<input type="date" name="date" id="date">

		<button id="appointment-btn">Submit</button>


		</div>

<!--		<form action="/action_page.php">
		<h3>Please select a date to view scheduled appointments</h3>
  		<label for="birthday">Select date:</label>
  		<input type="date" id="birthday" name="birthday">
  		<input type="submit">
    </form> -->


</body>

<script type="text/javascript" src="js/viewAppointments.js"></script>

</html>
